# Quarto
/.quarto/
/_site/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron

# renv
renv/library/
renv/staging/
renv/sandbox/

# OS
.DS_Store
.Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
